@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

  *{
    margin: 0;
  }

  body{
    font-family: 'Poppins', sans-serif;
  }

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 20%;
  padding: 10px 30px 0px 50px;
}

nav img{
  width: 150px;
}

ul{
  display: flex;
  gap: 30px;
  list-style: none;
  cursor: pointer;
  transition: 0.3s ease;
}

ul li:hover{
  color: blanchedalmond;
}


.cont-home{
  width: 75%;
  padding: 50px 150px;

}

.cont-home h1{
  font-size: 50px;
  font-family: 300;
}

.cont-home p{
  padding-top: -10px;
  font-size: 15px;

}

.btn{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 150px;
  width: 75%;
}

.r{
  width: 40%;
}

.btn-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.btn-top .btn-1{
  width: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  gap: 10px;
  border-radius: 3px;
  justify-content: center;
  cursor: pointer;
}

.btn-top .btn-2{
  width: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  gap: 10px;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
}

.btn-mid button{
  width: 100%;
  margin-top: 10px;
  background-color: #fff;
  color: #000f00;
  border-radius: 3px;
  display: flex;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
}

.btn-buttom{
  display: flex;
  flex-direction: column;
  width: 98%;
  padding-top: 20px;
  gap: 10px;
  border-radius: 3px;
  line-height: 23px;
}

.btn-buttom input{
  height: 23px;
}

textarea{
  height: 100px;
}

.submit{
  width: 50%;
  align-items: end;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}


.btn-img{
  width: 60%;
}

.btn-img img{
  width: 72%;
  height: 72%;
}